<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>

<!-- общий контейнер с фоном -->
<div class="container-fluid" style="background-color:#F2F2F2">

    <!-- панель навигации -->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark bg-dark navbar-fixed-top"
                 style="margin-left: -15px; margin-right: -15px">
                <p class="lead">
                    <!-- инфо о текущем юзере -->
                    <span class="navbar-text" style="color: white; margin-top: -8px">
                    <strong>
                        <text th:text="${current_user.getUsername()}"></text>
                    </strong>
                    <span class="role"> with roles:
                        <text th:text="${current_user.getRolesToString()}"></text>
                    </span>
                </span>
                </p>
                <!-- кнопка Logout -->
                <a class="link" href="/logout" style="color: grey; margin-bottom:25px">Logout</a>
            </nav>
        </div>
    </div>

    <div class="row">

        <!-- левая панель -->
        <div class="col-2 fixed-left" style="background-color:#FFFFFF">
            <div th:fragment="left_bar">
                <ul class="nav flex-sm-column mt-3">
                    <!-- кнопки и проверка, является ли юзер админом -->
                    <li class="nav-item" style="margin-left:-15px; margin-right:-15px"
                        th:hidden="${!current_user.userIsAdmin()}">
                        <a class="nav-link rounded" th:href="@{/admin}">Admin</a>
                    </li>
                    <li class="nav-item" style="margin-left:-15px; margin-right:-15px"
                        sec:authorize="hasRole('USER')">
                        <a class="nav-link rounded"
                           th:classappend="${'active bg-primary text-white'}"
                           th:href="@{/user}">User</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--правая панель-->
        <div class="col-10" style="height: 94vh">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-12">
                        <h1>User information-page</h1>
                    </div>
                </div>

                <!--заголовок таблицы и обводка-->
                <div class="container-fluid border border mt-2">
                    <div class="row border border">
                        <div class="col-12 mt-2 mb-1" >
                            <h5>About user</h5>
                        </div>
                    </div>

                    <!--таблица-->
                    <div class="row">
                        <div class="col-12 pb-3" style="background-color:#FFFFFF">
                            <table class="table table-striped mt-3">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td th:text="${current_user.id}"></td>
                                    <td th:text="${current_user.firstName}"></td>
                                    <td th:text="${current_user.lastName}"></td>
                                    <td th:text="${current_user.age}"></td>
                                    <td th:text="${current_user.username}"></td>
                                    <td th:text="${current_user.getRolesToString()}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .navbar {
        max-height: 50px;
        min-height: 50px;
    }
</style>
</body>
</html>